<h3>SAVE PIN</h3>
<div class="form-group">
    <p>
        <textarea placeholder="joes #beer house" class="form-control" id="pin-title" rows="3"></textarea>
    </p>
{{!--     <p>
        <input type="text" placeholder="#hashtags" class="form-control" autocomplete="off" id="pin-tags">
    </p> --}}
</div>

<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
<button type="button" class="btn btn-default cancelItem">Cancel</button>
<button type="button" class="btn btn-primary addItem">Add</button>
